<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864858863335-vcv7t4vlihaekbasfujcgjbhb021v0lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864858863335-vcv7t4vlihaekbasfujcgjbhb021v0lt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>864858863335-hhrppo27mbggb1t3dt7rb3ssjsm7spao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQwprNCRO0SBDg-iTS3hxIwQFzvP3wCik</string>
	<key>GCM_SENDER_ID</key>
	<string>864858863335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connect</string>
	<key>PROJECT_ID</key>
	<string>connect-7017</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-7017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864858863335:ios:03ccd434221d61f0901442</string>
</dict>
</plist>